.home-card {
    max-width: 350px;
    margin: auto;
    margin-top: 15%;
    padding: 40px;
}

.full-width {
    width: 100%;
}


h2 {
    text-align: center;
}

a.register-link {
    text-decoration: none;
}

a.register-link:visited {
    color: #3F51B5;
} 