<mat-card class="home-card mat-elevation-z6">    
    <mat-card-content>
        <h2 class="center">Login</h2>
        <p *ngIf="loginError" class="error">Unauthorized. Please check the email address and password and try again.</p>
        <!-- email -->
        <mat-form-field class="full-width" appearance="standard">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="email">
            <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
        </mat-form-field>
        <!-- password -->
        <mat-form-field class="full-width" appearance="standard">
            <mat-label>Password</mat-label>
            <input matInput [formControl]="password" type="password">
            <mat-error *ngIf="password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
        </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button [disabled]="loading" color="primary" class="full-width" (click)="login()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login</button>
    </mat-card-actions>
</mat-card>
