<h4>VM Model management</h4>
<mat-grid-list cols="4" rowHeight="55px">
	<mat-grid-tile>
		<mat-icon>code</mat-icon>&nbsp; OS: {{vmModel.os}}
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-icon>build</mat-icon>&nbsp; Version: {{vmModel.ver}}
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-icon>extension</mat-icon>&nbsp; Type: {{vmModel.type}}
	</mat-grid-tile>
	<mat-grid-tile>
		<button mat-stroked-button color="warn">
			<mat-icon>warning</mat-icon>
			<label>&nbsp;&nbsp;Edit&nbsp;&nbsp;</label>
			<mat-icon>warning</mat-icon>
		</button>
	</mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>
<h4>Group VM</h4>
<mat-form-field>
	<mat-label>Find group</mat-label>
	<input type="search" matInput placeholder="Group name or ID"
		   [matAutocomplete]="auto"
		   (keyup)="filter($event)" #searchInput/>
	<mat-autocomplete #auto [displayWith]="displayFn"
					  (optionSelected)="updateAddSelection($event.option.value)">
		<mat-option *ngFor="let group of _filteredGroups" [value]="group">
			{{ displayFn(group) }}
		</mat-option>
	</mat-autocomplete>
</mat-form-field>

<div *ngIf="selectedGroup!==null">
	<br>
	<mat-divider></mat-divider>
	<h4>Selected group informations</h4>
	<mat-accordion class="example-headers-align" multi>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					<p>ID: {{selectedGroup.groupId}}</p>
				</mat-panel-title>
				<mat-panel-description>
					<p>Name: {{selectedGroup.name}}</p>
				</mat-panel-description>
			</mat-expansion-panel-header>
			<mat-grid-list cols="3" rowHeight="55px">
				<mat-grid-tile *ngFor="let member of selectedGroup.members">{{member.toString()}}</mat-grid-tile>
			</mat-grid-list>
		</mat-expansion-panel>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Group Resources
				</mat-panel-title>
				<mat-panel-description>
					Set Group resources limits
					<mat-icon>settings</mat-icon>
				</mat-panel-description>
			</mat-expansion-panel-header>

			<mat-form-field>
				<mat-label>CPU</mat-label>
				<input [formControl]="cpuLimit" matInput type="number" min="1" required>
			</mat-form-field>

			<mat-form-field>
				<mat-label>RAM</mat-label>
				<input [formControl]="ramLimit" matInput type="number" min="256" required>
				<span matSuffix>MB</span>
			</mat-form-field>

			<mat-form-field>
				<mat-label>DISK</mat-label>
				<input [formControl]="diskLimit" matInput type="number" min="2" required>
				<span matSuffix>MB</span>
			</mat-form-field>
			<br>
			<mat-form-field>
				<mat-label>Max Active VMs</mat-label>
				<input [formControl]="maxLimit" matInput type="number" min="1" required>
			</mat-form-field>

			<mat-form-field>
				<mat-label>Max Total VMs</mat-label>
				<input [formControl]="activesLimit" matInput type="number" min="1" required>
			</mat-form-field>
			<br>
			<button mat-stroked-button color="primary" (click)="saveResourcesLimits()"
					[disabled]="!checkResourcesLimits()">Save
			</button>
			<p *ngIf="!checkResourcesLimits()" class="error">Error. Please check new resources limit aren't lower than
				actual ones</p>

		</mat-expansion-panel>
	</mat-accordion>
	<br>
	<br>
	<mat-divider></mat-divider>
	<h4>VMs created</h4>
	<div *ngIf="vms.length>1" class="expand-collapse-buttons">
		<button mat-button (click)="openAll()">Expand All</button>
		<button mat-button (click)="closeAll()">Collapse All</button>
	</div>
	<mat-accordion #vmsAccordion="matAccordion" class="example-headers-align" multi>
		<mat-expansion-panel *ngFor="let vm of vms">
			<mat-expansion-panel-header>
				<mat-panel-title>
					<p>{{vm.name}}</p>
					<p>&nbsp;&nbsp;({{vm.id}})</p>
				</mat-panel-title>
				<mat-panel-description>
					<p>{{vm.vmModel}}</p>
					<p>&nbsp;&nbsp;({{vm.status}})</p>
				</mat-panel-description>
			</mat-expansion-panel-header>
			<mat-grid-list cols="3" rowHeight="55px">
				<mat-grid-tile>
					<mat-icon>developer_board</mat-icon>&nbsp; CPU: {{vm.cpu}} </mat-grid-tile>
				<mat-grid-tile>
					<mat-icon>memory</mat-icon>&nbsp; RAM: {{vm.ram}} &nbsp;MB
				</mat-grid-tile>
				<mat-grid-tile>
					<mat-icon>sd_storage</mat-icon>&nbsp; DISK: {{vm.disk}} &nbsp;MB
				</mat-grid-tile>
				<mat-grid-tile *ngIf="vm.owner.length==1" [colspan]="2">Owner: {{vm.owner}}</mat-grid-tile>
				<mat-grid-tile *ngIf="vm.owner.length>1" [colspan]="2">Owners:
					<span *ngFor="let owner of vm.owner">&nbsp;&nbsp;&nbsp;{{owner}}</span>
				</mat-grid-tile>
				<mat-grid-tile>
					<a mat-stroked-button color="primary" (click)="connectToVm(vm)">
						<mat-icon>link</mat-icon>
						<label> Connect</label>
					</a>
				</mat-grid-tile>
			</mat-grid-list>
		</mat-expansion-panel>
	</mat-accordion>
</div>
