<h1 mat-dialog-title *ngIf="data.action==='CREATE'">Create a new VM</h1>
<h1 mat-dialog-title *ngIf="data.action==='UPDATE'">Edit VM</h1>

<mat-spinner *ngIf="working"></mat-spinner>
<div mat-dialog-content class="full-width" *ngIf="!working">
	<mat-form-field>
		<mat-label>CPU</mat-label>
		<input [formControl]="newVmCpu" matInput type="number" min="1" required>
	</mat-form-field>
	<br>
	<mat-form-field>
		<mat-label>RAM</mat-label>
		<input [formControl]="newVmRam" matInput type="number" min="1" required>
		<span matSuffix>GB</span>
	</mat-form-field>
	<br>
	<mat-form-field>
		<mat-label>DISK</mat-label>
		<input [formControl]="newVmDisk" matInput type="number" min="1" required>
		<span matSuffix>MB</span>
	</mat-form-field>
	<br>
	<button mat-stroked-button color="primary" (click)="saveNewVm()"
			[disabled]="!checkResourcesLimits() || !checkValidFormValues()" *ngIf="data.action=='CREATE'">
		<mat-icon>add</mat-icon>
		<label> Save</label>
	</button>
	<button mat-stroked-button color="primary" (click)="updateVm()"
			[disabled]="!checkResourcesLimits() || !checkValidFormValues()" *ngIf="data.action=='UPDATE'">
		<mat-icon>save</mat-icon>
		<label> Save</label>
	</button>
	<button style="margin-left: 5px" mat-stroked-button color="warn" (click)="resetNewValues()">
		<mat-icon>clear</mat-icon>
		<label> Reset</label>
	</button>
	<button style="margin-left: 5px" mat-stroked-button color="warn"
			(click)="closeDialog('NOP')">
		Close
	</button>
	<p *ngIf="!checkResourcesLimits()" class="error">Error. Exceeded resources limit!</p>
	<p *ngIf="!checkValidFormValues()" class="error">Error. Wrong values inserted</p>
	<br><br>

</div>
