<h1 mat-dialog-title>Share VM with selected mates</h1>
<mat-spinner *ngIf="working"></mat-spinner>
<div mat-dialog-content class="full-width" *ngIf="!working">
	<button mat-stroked-button color="primary"
			(click)="shareWithSelected()"
			[disabled]="!selectionModel.hasValue()">Share VM
	</button>
	<br><br>
	<table style="width: 100%" #table mat-table [dataSource]="dataSource">
		<!-- Checkbox Column -->
		<ng-container matColumnDef="select">
			<th mat-header-cell *matHeaderCellDef>
				<mat-checkbox
						(change)="toggleTableMaster($event)"
						[checked]="selectionModel.hasValue() && isAllSelected()"
						[indeterminate]="selectionModel.hasValue() && !isAllSelected()"
						[disabled]="dataSource.data.length===0">
				</mat-checkbox>
			</th>
			<td mat-cell *matCellDef="let row">
				<mat-checkbox
						(change)="toggleTableRow($event, row)"
						[checked]="selectionModel.isSelected(row)">
				</mat-checkbox>
			</td>
		</ng-container>

		<!-- Id Column -->
		<ng-container matColumnDef="id">
			<th mat-header-cell *matHeaderCellDef> Student ID</th>
			<td mat-cell *matCellDef="let row"> {{row.id}} </td>
		</ng-container>

		<!-- lastName Column -->
		<ng-container matColumnDef="lastName">
			<th mat-header-cell *matHeaderCellDef> Last Name</th>
			<td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
		</ng-container>

		<!-- firstName Column -->
		<ng-container matColumnDef="firstName">
			<th mat-header-cell *matHeaderCellDef> First Name</th>
			<td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="colsToDisplay"></tr>
		<tr mat-row *matRowDef="let row; columns: colsToDisplay"></tr>
	</table>
	<br><br>
	<button mat-stroked-button color="warn"
			(click)="closeDialog('NOP')">
		Close
	</button>
</div>
