<mat-card class="home-card mat-elevation-z6">    
    
    <mat-card-content>
        <h2 class="center">Create an account</h2>
        <p *ngIf="registerError" class="error">{{generalErrorMessage}}</p>
        
        <!-- id -->
        <mat-form-field class="full-width" appearance="standard">
            <mat-label>Id</mat-label>
            <input matInput [formControl]="id">
            <mat-error>{{ getIdErrorMessage() }}</mat-error>
        </mat-form-field>

        <!-- email -->
        <mat-form-field class="full-width" appearance="standard">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="email">
            <mat-error>{{ getEmailErrorMessage() }}</mat-error>
        </mat-form-field>

        <!-- upload image -->
        <p class="user-image">Image</p>
        <div class="upload">
            <button mat-flat-button class="file-button" (click)="fileInput.click()">Choose File
                <input #fileInput type="file" style="display:none;" (change)="fileChange($event.target.files); $event.target.value = ''"/> 
            </button>

            <span class="filename">
                {{filename}}
            </span>
        </div>
        <p *ngIf="fileError" class='file-error'>{{errorMessage}}</p>
        
        <!-- last name -->
        <mat-form-field class="full-width" appearance="standard">
            <mat-label>Last Name</mat-label>
            <input matInput [formControl]="lastName">
            <mat-error>{{ getLastNameErrorMessage() }}</mat-error>
        </mat-form-field>

        <!-- first name -->
        <mat-form-field class="full-width" appearance="standard">
            <mat-label>First Name</mat-label>
            <input matInput [formControl]="firstName">
            <mat-error>{{ getFirstNameErrorMessage() }}</mat-error>
        </mat-form-field>

        <!-- password -->
        <mat-form-field class="full-width" appearance="standard">
            <mat-label>Password</mat-label>
            <input matInput [formControl]="password" type="password">
            <mat-error>{{ getPasswordErrorMessage() }}</mat-error>
        </mat-form-field>

        <!-- repeat password -->
        <mat-form-field class="full-width" appearance="standard">
            <mat-label>Repeat Password</mat-label>
            <input matInput [formControl]="repeatPassword" type="password">
            <mat-error>{{ getRepeatPasswordErrorMessage() }}</mat-error>
        </mat-form-field>


    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button [disabled]="loading" color="primary" class="full-width" (click)="register()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Continue</button>
    </mat-card-actions>

    <!-- Login -->
    <p><a class="login-link" routerLink="/login">Already have an account?</a></p>

</mat-card>
