.full-width {
    width: 100%;
}

p.error {
    text-align: center;
    border: 1px solid tomato;
    padding: 8px;
    border-radius: 6px;
}

.mat-dialog-actions {
      justify-content: flex-end;
}

.upload {
    width: 300px;
    border: 1px solid #cacaca;
    border-radius: 5px;

    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding-right: 15px;
    margin-bottom: 10px;
}

.file-button {
    border-right: 1px solid #cacaca;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #3F51B5;
}

.filename {
    margin: 0px 10px;
    color: dimgray;
}

.error {
    color: red;
    font-weight: 300;
}

.file-error {
    margin-left: 5px;
    color: red;
    font-size: small;
}