<h1 mat-dialog-title>Login</h1>

<mat-dialog-content>
  <p *ngIf="loginError" class="error">Unauthorized. Please check the email address and password and try again.</p>
  <!-- email -->
    <mat-form-field class="full-width" appearance="standard">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="email">
      <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>
  <!-- password -->
    <mat-form-field class="full-width" appearance="standard">
      <mat-label>Password</mat-label>
      <input matInput [formControl]="password" type="password">
      <mat-error *ngIf="password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
    </mat-form-field>
</mat-dialog-content>

<br>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="login()">Login</button>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>