
<mat-dialog-content>
  <h1 mat-dialog-title>New course</h1>

  <p *ngIf="error" class="error">Conflict... For example there is already another course with the same id.</p>

  <!-- course name -->
  <mat-form-field class="full-width" appearance="standard">
    <mat-label>Name</mat-label>
    <input matInput #nameInput [formControl]="name" (keyup)="onNameChange(nameInput.value)">
    <mat-error>{{ getNameErrorMessage() }}</mat-error>
  </mat-form-field>

  <!-- course id -->
  <mat-form-field class="full-width" appearance="standard">
    <mat-label>ID</mat-label>
    <input matInput [formControl]="id"> 
    <mat-error>{{ getIdErrorMessage() }}</mat-error>
  </mat-form-field>
  
  <!-- groups size -->
  <div class="groups-size-container full-width">
    <span class="groups-size-title">Groups</span>  
    <!-- min -->
    <mat-form-field appearance="standard" class="groups-size-input">
      <mat-label>Min Size</mat-label>
      <input type="number" step="1" min="1" matInput [formControl]="min">
      <mat-error>{{ getMinErrorMessage() }}</mat-error>
    </mat-form-field>
    <!-- max -->
    <mat-form-field appearance="standard" class="groups-size-input">
      <mat-label>Max Size</mat-label>
      <input type="number" step="1" min="1" matInput [formControl]="max">
      <mat-error>{{ getMaxErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>
 
  <!-- course enabled -->
  <mat-slide-toggle [(ngModel)]="enabled" color="primary">Enable</mat-slide-toggle>

  <br>

  <mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="addCourse()">Create</button>
  </mat-dialog-actions>
  
</mat-dialog-content>

