<h1 mat-dialog-title>New course</h1>

<mat-dialog-content>
  <p *ngIf="error" class="error">Error...</p>
  <!-- course id -->
    <mat-form-field class="full-width" appearance="standard">
      <mat-label>ID</mat-label>
      <input matInput [formControl]="id">
    </mat-form-field>
  <!-- course name -->
    <mat-form-field class="full-width" appearance="standard">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="name">
    </mat-form-field>
</mat-dialog-content>

<br>

<mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="addCourse()">Create</button>
</mat-dialog-actions>