<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleForMenuClick()">
    <mat-icon>menu</mat-icon>
  </button>
  &nbsp;&nbsp;
  <a class="home-link" routerLink="/home">VirtualLabs</a>
  <span class="fill-remaining-space"></span> <!-- This fills the remaining space of the current row -->
  <!-- user is logged in -->
  <p class="user-email" *ngIf="loggedIn">{{ email }}</p>
  <button *ngIf="loggedIn" mat-button (click)="logout()">Logout</button>
  <!-- user is not logged in -->
  <button *ngIf="!loggedIn" mat-button (click)="login()">Login</button>
</mat-toolbar>

<mat-toolbar>
  Applicazioni Internet
</mat-toolbar>

<mat-sidenav-container class="example-container">
  
  <mat-sidenav mode="side" opened position="start" #sidenav>
    <div class="container-small">
      <mat-nav-list>
        <mat-list-item routerLink="courses/teacher/course/applicazioni-internet/students">
          Applicazioni internet
        </mat-list-item>
        <mat-list-item>
          Programmazione di sistema
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <nav mat-tab-nav-bar>
      <a mat-tab-link
         *ngFor="let link of navLinks"
         [routerLink]="['courses/teacher/course/applicazioni-internet', link.path]"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
