<h1 mat-dialog-title>Upload correction</h1>

<mat-dialog-content>
    <p>TODO: </p>
    <p> - aggiungere un bottone per caricare la correzione</p>
    <p> - aggiungere due radio button per scegliere se attendere la revisione dello studente o se l'elaborato è definitivo</p>
    <p>   - nel secondo caso decidere il voto</p> 
</mat-dialog-content>

<br>

<mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="publish()">Publish</button>
</mat-dialog-actions>