<h1 mat-dialog-title>Upload correction</h1>

<mat-dialog-content>
    
    <div>
        <!-- upload image -->
        <button mat-button (click)="fileInput.click()">Choose File
            <input #fileInput type="file" style="display:none;" (change)="fileChange($event)"/> 
        </button>
    </div>
    click
    <mat-slide-toggle [(ngModel)]="ratePaper"></mat-slide-toggle>

    <mat-form-field>
        <mat-label>Rate</mat-label>
        <input matInput [disabled]="!ratePaper">
    </mat-form-field>

</mat-dialog-content>

<br>

<mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="publish()">Publish</button>
</mat-dialog-actions>