table {
    width: 100%;
}

.filter-button {
    margin: 0px 25px;  
    padding-right: 10px;
}

.new-button {
    float: right;
    margin-top: 12px;
}

tr.detail-row {
    height: 0;
}
  
tr.paper-row:not(.expanded-row):hover {
    background: whitesmoke;
}
  
tr.paper-row:not(.expanded-row):active {
    background: #efefef;
}

.paper-row td {
    border-bottom-width: 0;
}
  
.paper-detail {
    overflow: hidden;
}
  
.paper-history-list {
    padding: 16px 0px;
}

.upload-button {
    margin: 0px 12px 20px 0px;
    float: right;
}

p.status {
    color: dimgrey;
    margin-right: 10px;
}

.mat-icon.readed {
    color: dimgray;
}

.mat-icon.delivered {
    color: dimgray;
}

.mat-icon.revised {
    color: deepskyblue;
    color: skyblue;
    color: palegreen;
    color: mediumseagreen
}

.mat-icon.download {
    cursor: pointer;
}
