<h3>Enroll students</h3>
<mat-form-field>
    <mat-label>Add student</mat-label>
    <input type="search" matInput placeholder="Name of the student" 
            [matAutocomplete]="auto"
            (keyup)="filter(searchInput.value)" #searchInput/>
    <mat-autocomplete #auto (optionSelected)="updateAddSelection($event)">
        <mat-option *ngFor="let student of _filteredStudents" [value]="student">
            {{student}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<button mat-stroked-button class="enroll-button"
        (click)="addStudent(); searchInput.value= ''"
        [disabled]="searchInput.value===''">Enroll</button>

<button mat-stroked-button color="primary"
        (click)="enrollStudentsCSV()">Enroll students using CSV file</button>

<br>

<mat-divider></mat-divider>

<div>
    <button mat-raised-button color="primary" 
            (click)="removeSelectedRows()"
            [disabled]="!areStudentsSelected()">Delete Selected</button>
    <br><br>
    <div *ngIf="areAllCurrentPageStudentsSelected() && !areAllStudentsSelected()" class="toggle-message"> 
        <p class="message">All <strong>{{ getCurrentPageSelectedStudentsNumber() }}</strong> students on this page are selected. 
            <span class="message-button" (click)="selectAllStudents()">Select all {{ dataSource.data.length }} students</span>
        </p>
    </div>
    <div *ngIf="areAllStudentsSelected()" class="toggle-message"> 
        <p class="message">All <strong>{{ dataSource.data.length }}</strong> students are selected. 
            <span class="message-button" (click)="clearAllSelections()">Clear selection</span>
        </p>
    </div>
    <table #table mat-table matSort [dataSource]="dataSource" (matSortChange)="onSortChanged()">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox #masterCheckbox
                    (change)="toggleTableMaster()" 
                    [checked]="areAllCurrentPageStudentsSelected()"
                    [indeterminate]="getCurrentPageSelectedStudentsNumber() !== 0 && !areAllCurrentPageStudentsSelected()"
                    [disabled]="dataSource.data.length===0">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox 
                    (change)="toggleTableRow(row)"
                    [checked]="selectionModel.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>
        
        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Student ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- lastName Column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
        </ng-container>

        <!-- firstName Column -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
            <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
        </ng-container>

        <!-- Group Column -->
        <ng-container matColumnDef="group">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Group </th>
            <td mat-cell *matCellDef="let row"> {{ row.team }} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="colsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: colsToDisplay"></tr>
        
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" (page)="onPageChanged()"></mat-paginator>
</div>
