table {
    width: 100%;
}

.mat-form-field {
    width: 300px;
}

.toggle-message {
    width: 100%;
    text-align: center;
    background-color: #F4F4F4;
    border-radius: 5px;
}

.message {
    padding: 15px;
}

.message-button {
    cursor:pointer;
    color:#3F51B5;
}

strong {
    font-weight: 500;
}

.mat-divider {
    margin: 25px 0px;
}

.enroll-button {
    margin-left: 10px;
    margin-right: 20px;
}
