p.user-email {
    padding-right: 15px;
    font-size:15px;
}

.add-course-button {
    pointer-events: all;
    cursor: pointer;
}

.edit-button {
    margin-right: 15px !important;
    visibility:hidden;
}

.mat-list-item:hover .edit-button{
    visibility:visible;
}

.list-item {
    padding-left: 15px !important;
}

.active-list-item {
    color: #3F51B5 !important;
    background-color: #f2f4ff !important;
}