p.user-email {
    padding-right: 15px;
    font-size:15px;
}

.add-course-button {
    pointer-events: all;
    cursor: pointer;
}

.menu-button {
    margin-right: 5px !important;
}

.mat-list-item:not(:hover) .menu-button {
    visibility: hidden;
}

.list-item {
    padding-left: 15px !important;
}

.active-list-item {
    color: #3F51B5 !important;
    background-color: #f2f4ff !important;
}