p.user-email {
    padding-right: 15px;
    font-size:15px;
}

.list-header {
    pointer-events: none;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.54);
}

.add-course-button {
    pointer-events: all;
    cursor: pointer;
}

.edit-button {
    visibility:hidden;
}

.mat-list-item:hover .edit-button{
    visibility:visible;
}