table {
    width: 95%;
}

mat-paginator {
    width: 95%;
}

.round-image {
    font-size: 60px;
    width: 60px;
    height: 60px;
    background-size: cover;
    display: block;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
